@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i');
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 10px;
}
img {
  float: left;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* HEADER */
.top-header {
  min-height: 38px;
  background-color: #f2f2f2;
}
.top-links {
  display: flex;
  min-height: 38px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}
.top-links a {
  color: black;
}
.top-links__phone {
  display: flex;
  align-items: center;
}
.top-links__phone img {
  margin-right: 17px;
}
.top-links__social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.top-links__social div {
  min-width: 135px;
  text-align: center;
  border-right: 1px solid black;
}
.top-links__social div:last-child {
  border-right: none;
}
.top-links__social div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.head-content {
  display: flex;
  min-height: 130px;
  align-items: center;
}
.nav-block {
  display: flex;
}
.nav-block__menu-items {
  font-family: 'Playfair Display', serif;
  margin: 0 15px 0 15px;
}
.nav-block__menu-items a {
  color: black;
}
.nav-block__menu-items a:hover {
  color: #d9bf8f;
  transition: .2s;
}
.logo {
  margin: 0 auto;
}
.soc-net {
  display: flex;
}
.soc-net a {
  padding: 0 5px;
}
.soc-net__enter {
  height: 30px;
  width: 30px;
  border: 2px solid #d9bf8f;
  border-radius: 20px;
}
.soc-net__enter i {
  margin: 7px 0 0 8px;
  color: #d9bf8f;
}
.nav-money {
  float: right;
  position: relative;
  z-index: 3;
}
.topmenu-money > li {
  float: right;
  position: relative;
}
.topmenu-money > li > a {
  padding: 10px;
}
.submenu {
  position: absolute;
  display: none;
  background-color: black;
  padding-bottom: 5px;
  z-index: 3;
  left: 10px;
}
.topmenu-money > li:hover > .submenu {
  display: block;
}
.topmenu-money a {
  font-family: 'Lato', serif;
  font-size: 12px;
  color: white;
  background-color: black;
  margin: 0 11px;
  transition: .5s;
}
.topmenu-money a:hover {
  color: #d9bf8f;
}
/* MAIN */
.slick-prev,
.slick-next {
  z-index: 1001 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}
.sale {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  font-family: 'Lato', serif;
  min-height: 276px;
  min-width: 276px;
  border: 2px solid white;
  outline: 1px solid white;
  outline-offset: -10px;
  position: absolute;
  z-index: 1;
}
.sale__mid {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.sale__sa {
  font-size: 55px;
  font-weight: bold;
  padding: 15px 0 15px 0;
}
.sale__up {
  font-weight: bold;
  color: white;
  padding-bottom: 15px;
}
.sale__up::after {
  margin-left: 10px;
  content: url("../img/line-right.png");
}
.sale__up::before {
  margin-right: 10px;
  content: url("../img/line-left.png");
}
.sale__off {
  font-size: 25px;
  font-weight: bold;
}
.shop {
  color: white;
  background-color: #f09d66;
  font-size: 20px;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  margin: 180px 0 0 -63px;
  font-family: 'Lato', serif;
  position: absolute;
  z-index: 1;
}
.shop:hover {
  background-color: #eeb692;
}
.garanty {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 200px;
  padding-top: 70px;
}
.garanty img {
  margin: 25px;
}
.garanty h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0 10px 0;
}
.garant__free {
  font-family: 'Lato', serif;
  width: 390px;
  min-height: 100px;
  margin: 0 5px;
  color: white;
  background-color: #d9bf8f;
}
.garant__ret {
  font-family: 'Lato', serif;
  width: 390px;
  min-height: 100px;
  margin: 0 5px;
  color: white;
  background-color: black;
}
.garant__sup {
  font-family: 'Lato', serif;
  width: 390px;
  min-height: 100px;
  margin: 0 5px;
  color: white;
  background-color: #d9bf8f;
}
.garant__free p,
.garant__ret p,
.garant__sup p {
  margin-bottom: 15px;
}
.heading h2 {
  text-align: center;
  font-size: 30px;
  padding: 0 30px 65px 30px;
}
.head-first {
  display: flex;
  justify-content: space-around;
}
.head-first img {
  width: 471px;
  height: 20px;
}
/* CONT1 */
.cont1 {
  display: grid;
  grid-template-columns: 1fr 1.15fr 1fr;
  grid-gap: 20px;
  padding-bottom: 100px;
}
.cont1__lady {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.cont1__shoes,
.cont1__lady,
.cont1__braslet,
.cont1__braslet2,
.cont1__wallet {
  position: relative;
  overflow: hidden;
  outline: 2px solid white;
  outline-offset: -20px;
}
.descr {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 80px;
  text-align: center;
  opacity: 0;
  transform: rotateY(90deg);
  transition: all .5s;
}
.cont1 div:hover .descr {
  opacity: 1;
  width: 91%;
  height: 71%;
  top: 18px;
  left: 18px;
  transform: rotateY(0deg);
}
.shop-cont {
  color: white;
  background-color: #f09d66;
  font-size: 20px;
  padding: 10px 20px;
  top: 75%;
  left: 30%;
  font-family: 'Lato', serif;
  position: absolute;
}
.shop-cont:hover {
  background-color: #eeb692;
}
.cross {
  position: absolute;
  top: 40%;
  left: 42%;
}
/* CONT2 */
.cont2 {
  text-align: center;
  border: 1px solid #eaeaea;
  margin-bottom: 100px;
}
.cont2__items {
  display: inline-block;
  width: calc(25%);
  position: relative;
  overflow: hidden;
  max-height: 348px;
  max-width: 300px;
  padding: 8px;
}
.descr2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 80px;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}
.cont2 div:hover .descr2 {
  opacity: 1;
  width: 94%;
  height: 73%;
  left: 9px;
  top: 9px;
}
.add-to {
  color: white;
  background-color: black;
  padding: 15px 20px;
  font-family: 'Lato', serif;
  position: absolute;
  top: 84%;
  left: 25%;
  z-index: 1;
}
.add-to:hover {
  background-color: #f09d66;
}
.s-percent {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}
/* BRANDS */
.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 170px;
}
.brands__items {
  min-width: 151px;
  min-height: 98px;
  padding: 10px;
}
/* CUSTOMERS SAYS */
.customers {
  min-height: 400px;
  background-color: #D9BF8F;
}
.customers_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.customer__say {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
  color: white;
}
.customer__name {
  font-size: 30px;
  padding-bottom: 15px;
}
.customer__profession {
  font-family: 'Lato', serif;
  font-size: 13px;
  font-weight: bold;
  color: #b9a0a0;
}
.customers__left {
  display: flex;
  align-items: center;
}
.customer__about {
  max-width: 285px;
}
.customers__right {
  display: flex;
  align-items: center;
  text-align: right;
}
/* FOOTER */
footer {
  font-family: 'Lato', serif;
  min-height: 655px;
  background-color: #161414;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 450px;
  border-bottom: 1px solid #4e4949;
}
h3 {
  color: white;
  font-weight: bold;
  padding-bottom: 35px;
}
.bottom-menu a {
  line-height: 30px;
  color: #4e4949;
}
.bottom-menu a:hover {
  color: #615b5b;
}
.soc-net__connected {
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #161414;
  font-size: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin: 10px 15px 60px 0;
}
.soc-net__connected i {
  margin: 10px 0 0 10px;
}
.soc-net__connected:hover {
  background-color: #161414;
  color: white;
}
form {
  position: relative;
  max-width: 360px;
  margin-right: 40px;
  padding-top: 15px;
}
input {
  width: 100%;
  height: 45px;
  padding-left: 20px;
  border: 1px solid #4e4949;
  background: #161414;
  color: #4e4949;
  font-size: 12px;
}
button {
  position: absolute;
  top: 17px;
  right: -20px;
  width: 100px;
  height: 43px;
  border: none;
  background: #4e4949;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
button:hover {
  background-color: #615b5b;
}
.footer__con-rights {
  color: #4e4949;
  font-size: 11px;
  line-height: 20px;
  max-width: 260px;
  padding: 30px 0;
}
.cards img {
  margin-right: 20px;
}
/* MEDIA */
@media screen and (max-width: 1203px) {
  .cont2__items {
    width: calc(50%);
  }
}
@media screen and (max-width: 1090px) {
  .sale,
  .shop {
    top: 40%;
  }
  .garant__free,
  .garant__ret,
  .garant__sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 923px) {
  .sale,
  .shop {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .customers_all {
    flex-direction: column;
  }
}
